*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;

}
.center nav ul li{
    list-style: none;
}
.top{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 0px;

}
.center ul{
    display: flex;
    gap: 20px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button{
    border: none;
    padding: 10px 40px;
    border-radius: 10px;
    color: white;
    background-color: #1D4ED8;
}

.hero{
    background:
    linear-gradient(to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
    ),
    url("./assets/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 736px;
    

    
}
.banner h1{
    color: white;
    font-size: 50px;
    display: flex;
    justify-self: center;
 
}
.big1{
    padding: 150px 0 30px 0;
}
.para{
    color: white;
    justify-self: center;
    font-size: 14px;
    text-align: center;
}
.jhamela{
    justify-self: center;
    padding: 320px 0 40px 0;
}
#change{
    padding: 20px 80px;
    font-size: 20px;
}
h2{
    padding: 50px 0 40px 0;
    justify-self: center;
    font-size: 70px;
}

.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px 60px 100px 60px;
}

.card{
    margin: 10px 0;
    height: 460px;
    width: 642px;
    border-radius: 10px;
    box-shadow: 0.5px 1px 1px 0px black;
}
.image{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
h1{
    color: white;
    font-size: 50px;
}
.introduction{
    padding: 0 0 0 30px;
}
.topp{
    font-size: 11px;
    color: blue;
    padding: 15px 0px 15px 0px;
}
.low{
    font-size: 12px;
    padding: 15px 0px 0px 0px;
}
.price{
    padding: o 40px;
}
.price h3{
    font-size: 30px;
    justify-self: center;
    padding: 20px 0 5px 0;
}
.small{
   font-size: 12px;
    padding: 15px 0px 0px 0px;
    justify-self: center; 
}
.options{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding: 50px 150px;
    gap: 20px;
    
}
.box{
    background-color: #fff;
    height: 430px;
    border: 0.2px solid #888888;
    border-radius: 10px;
    padding: 30px;
}
#black{
    background-color: #0D1B2A;
}
.price-top{
    padding: 0 0 30px 0;
    color: #888888;
    
}
#bigg{
    color: black;
    font-size: 52px;
}

.color-list ul{
    padding: 30px 14px;


}
.color-list ul li{
    padding: 8px 0;
    
}
.color-list ul li::marker{
    color: rgb(81, 139, 233);
}
.box-button{
    border: none;
    background-color: white;
    border: 1px solid rgb(81, 139, 233);
    border-radius: 10px;
    display: flex;
    justify-self: center;
    padding: 10px 110px;
}
#black .box-button{
    background-color: rgb(81, 139, 233);
}
#black .color-list ul li{
    color: white;
}
#black #bigg{
    color: white;
}
footer{
   background-color: #0D1B2A; 
}
.all{
    height: 100px;
    display: flex;
}
.logo{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.links{
    flex: 1;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 12px;
}
.socials{
    display: flex;
    justify-self: center;
    padding: 5px 0;
}
a{
    color: white;
    text-decoration: none;

}
.footer-bottom{
    display: flex;
    font-size: 12px;
}

.footer-bottom-left {
    flex: 1;
    display: flex;
    justify-content: center;
    color: #888888;
    padding: 10px 0;
}
.footer-bottom-right{
    flex: 1;
    display: flex;
    justify-content: center;
    color: #888888;
    padding: 10px 0;
    gap: 30px;
}


